/ITSC1213MagicSquare/nbproject/private/
/ITSC1213MagicSquare/build/
/ITSC1213MagicSquare/dist/
/ColeXanderProject1/nbproject/private/
/ColeXanderProject1/build/
/InheritancePart1_XanderCole/nbproject/private/
/InheritancePart1_XanderCole/build/
